.container .title{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin: 2.5vh auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}

.label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto;
 }

.controls-container {
    display: flex;
    align-items: center;
}

.controls-container button {
    margin: 0 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #5125ad;
    border-width: 3px; 
    cursor: pointer;
    outline: none;
}
.controls-container button .fas {
    color:  #5125ad;
    font-size: 17px;
}

#session-length, 
#break-length {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    color: white;
}

#session-length span, 
#break-length span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.cicle-time {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #d6d6d6;
    box-shadow: 0 2px 5px 0px #444444;
}

#timer-label {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    color:  #5125ad;
}

#time-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#start_stop,
#reset{
    margin: 10px 12px;
    border: none;
    cursor: pointer;
    background-color: #ebebeb;
}
.fa-sync-alt,
.fa-play,
.fa-pause {
    font-size: 36px;
}

